<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<div class="footer">
	<div class="top_half"></div>
	<ul class="bottom_half">
		<li>Home</li>
		<li>quick search</li>
	</ul>
</div>