<h1>index page for view</h1>
<p>Find me in app/views/user/index.html.erb</p>
<p>This will eventually be the admin control center</p>

<h3>List of Users made!</h3>
<% @users.each do |user| %>
<%= link_to "user#{user.id}: #{user.name}", user_path(user) %>
<% end %>