<div>
	<h1>Welcome <%= @user.summoner_name %>!</h1>
	<%= bar_chart ({
		"user ward average" => @user.ward_avg,
		"div ward average" => @div.ward_avg,
		"user gold per minute average" => @user.gpm_avg,
		"div gold per minute average" => @div.gpm_avg,
		"user creeps per minute average" => @user.cpm_avg,
		"div creeps per minute average" => @div.cpm_avg,
		"user kda average" => @user.kda_avg,
		"div kda average" => @div.kda_avg,
		"user pill participation average" => @user.kp_avg,
		"div pill participation average" => @div.kp_avg,
		}),  id: "comparison-chart", min: 0, max: 500 %>

</div>

