<h1>User#show</h1>
<p>Find me in app/views/user/show.html.erb</p>

<h3>welcome <%= @user.name %></h3>

<% for api in @array_of_json do %>
	<a href="<%= api %>"><%= api #this is only temp %></a>
	<br>
	<br>
<% end %>

<p>AVG Wards placed:<br><%= @avg %></p>